@font-face {
    font-family: 'Montserrat';
    src: url('../FONTS/montserrat-light-webfont.woff') format('woff'),
    url('../FONTS/montserrat-light-webfont.woff2') format('woff2'),
    url('../FONTS/Montserrat-Light.ttf') format('truetype');
}

html, body{
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../IMG/chat.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 2em;
    background-color: orange;
}

p {
    color: black;
    border-style: inset;
    height: 50px;
    width: 90%;
    text-align: center;
    background-color:#f0f0f0;
}

