body{
    background-image: url("../IMG/homePage.webp");
    background-attachment: fixed;
}
#header{
    width:100%;
    height: auto;
    display: block;
}
#pharmacist p{
    padding: 12px;
    background-color: orangered;
    border-radius: 0px 25px 25px 0px;
}
#pharmacist p:first-child{
    font-size: 2em;
    padding: 12px;
    background-color: orange;
    border-radius: 0px 0px 25px 0px;
}
#pharmacist{
    width: 40%;
    float: left;
}
#pharmacy{
    width: 30%;
    float: right;
}
#pharmacy > p{
    padding: 12px 0px 12px 12px;
    background-color: orangered;
    border-radius: 25px 0px 0px 25px;
    width: auto;
}
#pharmacy>p:first-child{
    font-size: 2em;
    padding: 12px 0px 12px 12px;
    background-color: orange;
    border-radius: 0px 0px 0px 25px;
}
#suggestions{
    width: 75%;
    margin: auto;
}
#suggestions table{
    width: 100%;
    text-align: center;
    background-color: white;
    border: 5px solid orangered;
}
#suggestions td{
    border: 2px solid grey;
    padding: 10px;
}
#mainContent{
    width:100%;
    display: inline-flex;
}
#formBox{
    width: 70%;
}
#formBox form{
    width: 75%;
    margin: auto;
}
#formBox input[type=text]{
    /*width: 75%;*/
    width: 100%;
    background-color: white;
    border: 0px;
    border-bottom: 2px solid orange;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}
#suggestions button{
    width: auto;
    background-color: orange;
    border: 0px;
    border-radius: 25px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    font-size: 1.2em;
}
#cart{
    width: 30%;
    float: right;
    padding-right: 30px;
}
#cart p{
    padding: 12px 0px 12px 12px;
    background-color: orangered;
    border-radius: 25px;
    width: auto;
}
#cart>p:first-child{
    font-size: 2em;
    padding: 12px 0px 12px 12px;
    background-color: orange;
    border-radius: 30px;
    text-align: center;
}
#cart>p>button{
    background-color: transparent;
    width: 100%;
    border: 0px;
    cursor: pointer;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
#registerUser, #formReceipt, #employee_PD_DO{
    width: 25%;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    border: 5px solid orange;
    border-radius: 25px 25px 0px 25px;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
}
#registerUser > input[type=text],
#registerUser > input[type=date],
#formReceipt > input[type=text],
#formReceipt > input[type=date],
#employee_PD_DO > input[type=text],
#employee_PD_DO > input[type=date],
#employee_PD_DO > input[type=password] {
    text-align: center;
    border: 2px solid orange;
    margin: 5px;
    background-color: transparent;
    border-radius: 25px 25px 0px 25px;
    width: 100%;
}
#registerUser button,
#formReceipt button,
#employee_PD_DO button{
    background-color: orangered;
    font-size: 1.2em;
    border: 0;
    font-weight: lighter;
    border-radius: 25px 25px 0px 25px;
    width: 100%;
    padding: 5px;
}
#formReceipt{
    width: auto;
    border-radius: 25px;
    margin-bottom: 15px;
    display: none;
    height: 0px;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    overflow: hidden;
}
#employee_PD_DO{
    margin-left: 30px;
    margin-right: 30px;
}

#dashboardButton{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 25px;
    border-radius: 25px 0px 0px 25px;
    transition: background-color 1s;
    transition-timing-function: ease-out;
}
#dashboardButton:hover{
    background-color: #e66b00;
}
#cart > p{
    background-color: #ff4500 ;
    transition: background-color 1s;
    transition-timing-function: ease-out;
}

#cart > p:hover{
    background-color: #FF6A33;
}

#registerUser button, #formReceipt button, #employee_PD_DO button{
    background-color: orangered;
    transition: background-color 1s;
    transition-timing-function: ease-out;
}
#registerUser button:hover, #formReceipt button:hover, #employee_PD_DO button:hover{
    background-color: #FF6A33;
}
#openChat, #openChat2, #openChat3, #openMedicine{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    background-color: #1E90FF;
    padding: 25px;
    border: 0;
    border-radius: 25px 0px 0px 25px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    transition-property: background-color;
}
#openChat:hover, #openChat2:hover, #openChat3:hover{
    background-color: #1873CC;
}
#openChat2{
    margin-left: 30px;
}
#openChat3{
    border-radius: 0px;
}
#openMedicine{
    border-radius: 0px;
    background-color: #4EA24E;
}
#openMedicine:hover{
    background-color: #228B22 ;
}