body{
    background-image: url("../IMG/homePage.webp");
    background-attachment: fixed;
}
#header{
    width:100%;
    height: auto;
    display: block;
}
#pharmacist p{
    padding: 12px;
    background-color: orangered;
    border-radius: 0px 25px 25px 0px;
}
#pharmacist p:first-child{
    font-size: 2em;
    padding: 12px;
    background-color: orange;
    border-radius: 0px 0px 25px 0px;
}
#pharmacist{
    width: 40%;
    float: left;
}
#pharmacy{
    width: 30%;
    float: right;
}
#pharmacy > p{
    padding: 12px 0px 12px 12px;
    background-color: orangered;
    border-radius: 25px 0px 0px 25px;
    width: auto;
}
#pharmacy>p:first-child{
    font-size: 2em;
    padding: 12px 0px 12px 12px;
    background-color: orange;
    border-radius: 0px 0px 0px 25px;
}
#suggestions{
    width: 75%;
    margin: auto;
}
#suggestions table{
    width: 100%;
    text-align: center;
    background-color: white;
    border: 5px solid orangered;
}
#suggestions td{
    border: 2px solid grey;
    padding: 10px;
}
#mainContent{
    width:100%;
    display: inline-flex;
}
#formBox{
    width: 70%;
}
#formBox form{
    width: 75%;
    margin: auto;
}
#formBox input[type=text]{
    /*width: 75%;*/
    width: 100%;
    background-color: white;
    border: 0px;
    border-bottom: 2px solid orange;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}
#suggestions button{
    width: auto;
    background-color: orange;
    border: 0px;
    border-radius: 25px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    font-size: 1.2em;
}
#cart{
    width: 30%;
    float: right;
}
#cart p{
    padding: 12px 0px 12px 12px;
    background-color: orangered;
    border-radius: 25px 0px 0px 25px;
    width: auto;
}
#cart>p:first-child{
    font-size: 2em;
    padding: 12px 0px 12px 12px;
    background-color: orange;
    border-radius: 0px 0px 0px 25px;
}
#cart>p>button{
    background-color: orangered;
    width: 100%;
    border: 0px;
    cursor: pointer;
    color: black;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}