/* CSS Resetter */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* CSS Stylesheet */
html, body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
#aboveTheFoldContent{
    width: 100%;
    height: 100%;
    background-image: url("../IMG/homePage.webp");
    font-weight: bold;
}
#aboveTheFoldContent > p{
    width: 42vw;
    margin:auto;
    padding: 1vw;
    color: black;
    border-radius: 0px 0px 45px 45px;
    background-color: orange;
    font-size: 2em;
    text-align: center;
    position: sticky;
}
#aboveTheFoldContent #text{
    padding-top: 20vh;
    border-radius: 0px 0px 0px 0px;
    position: static;
}
#aboveTheFoldContent #text p{
    margin: auto;
    text-align: center;
    padding: 1vw;
    color: black;
    width: 42vw;
    background-color: orange;
    font-size: 2em;
    margin-bottom: 15vh;
}
#aboveTheFoldContent #text a{
    text-decoration: none;
    border-radius: 45px;
    margin: auto;
    text-align: center;
    padding: 1vw;
    color: black;
    display: block;
    width: 42vw;
    background-color: orange;
    font-size: 2em;
}
#form{
    width: 100%;
    height: 100%;
    color: orange;
    text-align: center;
    background-image: url("../IMG/chemicalLab.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#form p{
    font-size: 3em;
    margin-bottom: 15vh;
}
#form form{
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 1.7em;
}
#form form input{
    width: 42vw;
    border: 0;
    border-bottom: 2px solid orange;
    font-size: 0.8em;
    margin-bottom: 5vh;
    text-align: center;
    margin-top: 2vh;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px 50px 50px 0px;
}
#form form input[type=submit]{
    background-color: orange;
    color: white;
    padding: 2vh;
    font-size: 1em;
}

#err{
    width: 100%;
    height: 100%;
    background-image: url("../IMG/covid.webp");
    background-size: cover;
    background-position: center;
}
#err > p{
    width: 42vw;
    margin:auto;
    padding: 1vw;
    border-radius: 0px 0px 45px 45px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    position: sticky;
    color: black;
    background-color: #7E748C;
    opacity: .83;
}
#err #text{
    padding-top: 20vh;
    border-radius: 0px 0px 0px 0px;
    position: static;

}
#err #text p{
    margin: auto;
    text-align: center;
    padding: 1vw;
    width: 42vw;
    font-size: 2em;
    margin-bottom: 10vh;
    background-color: #7E748C;
    opacity: .87;
    font-weight: bold;
    color: black;
}
#err #text a{
    text-decoration: none;
    border-radius: 45px;
    margin: auto;
    text-align: center;
    padding: 1vw;
    display: block;
    width: 42vw;
    font-size: 2em;
    background-color: #7E748C;
    opacity: .87;
    font-weight: bold;
    color: black;
}